<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>MTs Abadiyah</title>
    <!-- Visible Box -->
    <style>
      * {
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav>
        <a href="#">MTs Abadiyah Gabus Pati</a>
        <ul>
          <li>
            <a href="#">Beranda</a>
          </li>
          <li>
            <a class="drop" href="#">Profil</a>
            <ul>
              <a href="">Sejarah</a>
            </ul>
          </li>
          <li>
            <a href="#">Program Kelas</a>
          </li>
          <li>
            <a href="#">Galeri</a>
          </li>
          <li>
            <a href="#">Berita</a>
          </li>
          <li>
            <a href="#">Prestasi</a>
          </li>
          <li>
            <a href="#">Ekstrakulikuler</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- <div class="container px-8 mx-auto">
      <div class="border rounded-lg shadow-lg">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quia officiis veritatis fugit nostrum corrupti molestias pariatur porro nam commodi, aliquid voluptatum explicabo consequuntur consequatur tempore eum! Est, possimus aliquid.
      </div>
    </div> -->
    <!-- Slider -->
    <section id="slider">
      <div></div>
    </section>

    <section id=""></section>
    <!-- Footer -->
    <Footer>

    </Footer>
  </body>
</html>